h1, h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: darkolivegreen;
    font-style: normal;
    line-height: 2;
    letter-spacing: 4px;
}

h1 {
    font-weight: 900;
    font-size: x-large;
    color: #41934d;
}

body {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
    color: black;
    background-color: rgb(240, 240, 240);
    font-size: medium;
    line-height: normal;
}

a {
    color: rgb(81,158,207);
    text-decoration: none;
    transition: auto;
    line-height: 2;
    font-size: xx-large;-large;
}

a:hover {
	color: blue;
	text-decoration: none;
}

#link {font-size: small;
}

.container {
	width: 700px;
	margin: 40px auto;
}


@media (max-width: 650px) {
	.container {
		width: 550px;
	}
}


@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}


.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba (0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-purple {
	background-color: rgb(81,158,207);
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-purple:hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
}

.list-inline i:hover {
	font-size: 50px;
	color: black
}

#space p {
	margin-bottom: 30px;
}









